/* smartphones */
@media (max-device-width: 767px) {
  .container, section, aside {
    width: 98%;

  }
  .container{
    padding: 0 10px;
    margin: 0 auto;
  }

aside{
  margin: 0 auto;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5;
}

}
